<%- include("partials/header.ejs") %>

<form class="" action="/login" method="post">
  <button class="btn btn-dark" type="submit" name="button">Login</button>
</form>

<%- include("partials/footer.ejs") %>
